.textStyle {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: -1px;
    width: 100%;
}

.texth1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
    width: 100%;
}

.diploma-image {
    width: 50px;
    height: 50px;
    padding: 3px;
    margin-bottom: 10px;
}

.other-card {
    width: 100%;
    padding: 20px;
    background: linear-gradient(270deg, #2bf79100, transparent);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card-course {
    width: 300px;
    height: 200px;
    border: 5px solid;
    border-image: linear-gradient(90deg, #a68bff 50%, transparent 75%);
    border-image-slice: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff10;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.perfect-title {
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: -3px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.information {
    font-family: 'Krona One', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
}

.titles-unica {
    font-family: 'Krona One', sans-serif;
    color: white;
}

.perfectforyou {
    padding: 50px 0;
    background-color: black;
}

@media (max-width: 768px) {
    .card-course {
        width: 90%;
        height: auto;
    }
}
