.title{
    font-family: Krona One;
    font-size: 1rem;
    text-align: center;
}

.perfect-style{
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: -5px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52%;
    height: 125px;
    font-family: Krona One;
} 

 .textos {
    display: flex;
    justify-content: space-around !important;
    padding: 10px 10px 10px 80px;
    width: 100%;
}

.tamanho{
    width: 80%;
}