@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}

.dark-theme {
  --background-color: #1a1a1a; /* fundo escuro */
  --text-color: #ffffff; /* texto branco */
}

.light-theme {
  --background-color: #ffffff; /* fundo claro */
  --text-color: #000000; /* texto preto */
}

.definirfonte{
  font-family: 'Krona One';
}

:root {
    --text-color: #7500ff;
  }

.hover-effect:hover {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s ease;
}

.altgif{
  width: 100%;
  height: 115px;
}

.criando{
  font-family: 'Krona One';
  text-align: center;
  font-size: 1.2rem;
}
