.title-education{
    font-size: 1.7rem;
    letter-spacing: -5px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    font-family: Krona One;
}

.altimageeducation{
    width: 460px !import;
    height: 700px !import;
}